@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(45deg, #2f4f4f, #3c6e71, #284b63);
  color: white;
  padding: 5px 10px;
  font-size: medium;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.5s ease;
}

.btn:hover {
  background: linear-gradient(90deg, #284b63, #3c6e71);
  transition: background 0.3s ease;
}

.btndark {
  background: linear-gradient(90deg, #d4d4d4, #ffffff);
  border: none;
  border-radius: 20px;
  color: #334155;
  padding: 5px 10px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s ease;
}
.btndark:hover {
  background: linear-gradient(90deg, #ffffff, #d4d4d4);
  transition: background 0.3s ease;
}
.img-1 {
  transform: rotate(-2deg);
  transition: ease-in-out 0.4ms;
}
.img-2 {
  transform: rotate(2deg);
  transition: ease-in-out 0.4ms;
}
.img-3 {
  transform: rotate(-2deg);
  transition: ease-in-out 0.4ms;
}
.img-4 {
  transform: rotate(2deg);
  transition: ease-in-out 0.4ms;
}
.containers {
  width: 60%;
  margin: 0px auto;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

.mailbox {
  width: 80%;
  height: 80px;
  border-radius: 10px;
  margin-left: 4rem;
}

/* demo test */
.foot-font {
  font-family: Impact;
  font-style: italic; /* Replace with a suitable font */
  font-size: 72px;
  position: relative;
}

.foot-font::before,
.foot-font::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: #d6d6d6; /* Match text color */
  top: 50%;
  transform: translateY(-50%);
}

.foot-font::before {
  left: -60px; /* Adjust spacing */
}

.foot-font::after {
  right: -60px; /* Adjust spacing */
}
